header{
    padding: 1rem 3rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

   



nav ul li{
    list-style: none;
}

nav ul li a{
   font-size: var(--p);
   color: #fff;
   font-weight: 500;
}
nav ul li a:first-child{
width: 130px;
}
nav ul li a img{
    width: 120px;
}
.banner{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.Clients ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin: 2rem;
}

.Clients img{
    width: 100px;
}
.sm_nav{
    display: none;
}
.sm_menu{
    position: fixed;
    display: none;
    background: #fff;
    top: 0;
    height: 100%;
    right: 0;
    background: var(--bb-primary-color);
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    z-index: 99;
    width: 300px;
}
.sm_menu ul{
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 3rem;
    margin-top: 3rem;
}
.sm_menu button{
    position: absolute;
    top: 0;
    right: 0;
}
.sm_nav button{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    border-radius: 24%;
    transition: 200ms linear;
}
.sm_nav button:hover{
    
    background: #d14450;
    
}
.banner h5,.banner p{
    color: #fff;
}
@media screen and (max-width: 970px){
    .bg_nav{display: none;}
    .sm_nav{
        display: flex;
    }
    nav .primary_button{
        order: 1;
    }
    nav a:has(img){
        order:2;
    }
    nav .sm_nav {
        order:3;
    }
    .banner .banner_img{
        display: none;
    }
}

@media screen and (max-width: 450px){
    nav .primary_button{
        display: none;
    }
    article{
        padding: 1rem!important;
    }
    .layout {
        width: 100%;
        margin:1rem 0!important;
    }
}